src/main/mule/git-action.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c0a15726-6d06-4eaa-9860-66efbbdbbfa2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-actionFlow" doc:id="0767b2ec-142e-46ec-bf23-74c507401a15" >
		<http:listener doc:name="Listener" doc:id="1b5c3aaf-16be-43a4-bdca-add8104ae67c" config-ref="HTTP_Listener_config" path="/action"/>
		<set-payload value="#['Working fine']" doc:name="Set Payload" doc:id="3e7b778b-ab4a-406f-a1e4-32b60c77b46e" />
		<logger level="INFO" doc:name="Logger" doc:id="772365b0-c093-4334-b825-7369e0e7ce96" message="#[payload]"/>
	</flow>
</mule>
